.panel-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .panel-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 40px;
    background: linear-gradient(180deg, #F6F8FA 0%, #FFF 100%);
    box-sizing: border-box;

    .row {
      // padding-top: 40px;
      gap: clamp(40px, 8vw, 80px);
    }

    .aiHelperArea {
      flex: none;
      width: clamp(200px, 15vw, 322px);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mainChartsArea-label {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
      }
    }

    .mainChartsArea {
      // padding: 40px;
      flex: 1;

      .title-lv1 {
        font-size: 2.4rem;
      }

      .chart-view {
        width: 100%;
        position: relative;
        height: 100%;

      }
    }
  }

  .panel-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 40px;

    .favoriteService {
      width: 40%;
      flex: none;
    }

    .currentSituation {
      flex: 1;
    }
  }

  .row {
    max-width: 1800px;
    margin: auto;
  }
}

.netbreezeAi {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: clamp(20px, 1.5vw, 40px);



  .netbreezeHelper {
    width: clamp(100px, 9vw, 150px);
    height: clamp(100px, 9vw, 150px);
    border-radius: 100%;
    overflow: hidden;
    // backdrop-filter: blur(20px);
    position: relative;
    // border: 1px solid #fff;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    animation: scaleIn 0.6s ease-out forwards, scalePulse 3s ease-in-out 0.6s infinite;


    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url('../images/netbreezeAi.png') no-repeat center;
      background-size: contain;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      z-index: 2;
      opacity: 0.8;
      animation: rotate360 15s linear infinite;
    }

    &:after {
      content: '';
      display: block;
      background: url('../images/netbreezeAi-eyes.png') no-repeat center;
      background-size: contain;
      width: 49px;
      height: 35px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      z-index: 2;
      opacity: 0.8;
      filter: blur(3px);
      // animation: rotate360 15s linear infinite;
      animation: atomMove1 10s ease-in-out infinite;
    }

    .atom {
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      z-index: 1;
      filter: blur(8px);

      // 각 atom에 다른 애니메이션 적용
      &:nth-child(1) {
        animation: atomMove1 8s ease-in-out infinite;
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation: atomMove2 10s ease-in-out infinite;
        animation-delay: 1s;
      }

      &:nth-child(3) {
        animation: atomMove3 9s ease-in-out infinite;
        animation-delay: 2s;
      }

      &:nth-child(4) {
        animation: atomMove4 11s ease-in-out infinite;
        animation-delay: 1.5s;
      }
    }
  }

  .ai-speak {
    // max-width: 240px;
    z-index: 1;
    border-radius: 40px;
    // background: linear-gradient(180deg, #15181A 45.67%, #1D1D1D 100%);
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 -7px 24px 0 rgba(0, 0, 0, 0.25);

    padding-left: clamp(14px, 1.5vw, 24px);
    padding-right: clamp(14px, 1.5vw, 24px);
    padding-bottom: clamp(20px, 1.5vw, 30px);
    padding-top: clamp(20px, 1.5vw, 30px);
    opacity: 0;

    transform: translateY(20px);
    animation: slideUp 0.5s ease-out 0.6s forwards;
    // position: absolute;
    // top: -50%;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 16px solid #15181A;
      /* 화살표 색 (원하면 변경) */
      position: absolute;
      bottom: -16px;
      left: 0;
      right: 0;
      margin: auto;

    }

    p {
      width: auto;
      color: #FFF;
      font-size: clamp(1.8rem, 1vw, 2.3rem);
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -1.5px;
      word-break: break-all;
    }

    span {
      color: #FFF;
      display: block;
      font-size: clamp(1.4rem, 0.8vw, 1.8rem);
      font-weight: 400;
      opacity: 0.7;

    }
  }
}

.charts-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.5px;

  span {
    display: inline-flex;
    width: 12px;
    height: 12px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    border: 1px solid #FFF;
    opacity: 0.8;
  }

}

.list-favoriteService {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  margin-bottom: -20px;

  li {
    width: calc(50% - 10px);

    &.null {

      a {
        justify-content: center;
        border-radius: 14px;
        border: 2px dashed #DBE1E6;
        background-color: transparent;
        color: #666F7B;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1;
        opacity: 0.5;
        box-sizing: border-box;

        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url('../images/ico-added.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 14px;
      background: #F6F8FA;
      padding: clamp(24px, 1.5vw, 40px);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #EEF6FD;
      }

      img {
        width: 44px;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .menu {
          color: #15181A;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 100%;
        }

        p {
          color: #666F7B;
          font-size: clamp(1.2rem, 0.8vw, 1.4rem);
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
  }
}

.list-currentSituation {
  display: flex;
  height: 100%;
  gap: 20px;

  >li {
    display: flex;
    padding: 26px 26px 10px 26px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 14px;
    border: 1px solid #DBE1E6;


    .data {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .user-value {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        span {
          color: #15181A;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 100%;
        }

        em {
          color: #15181A;
          font-size: 2.4rem;
          font-weight: 300;
          line-height: 100%;
          /* 24px */
        }
      }

      .list-service {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        width: 100%;
        padding-top: 20%;

        li {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 10px;
          padding: 10px 0;

          img {
            width: 40px;
            height: 40px;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .tit {
              color: #15181A;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
            }

            p {
              color: var(--text-gray);
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 16px;
              letter-spacing: -0.5px;

              b {
                color: var(--text);
                font-weight: 400;

              }
            }
          }
        }
      }

      .gauge-status {
        position: relative;

        .value {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .label {
            color: #737373;
            text-align: center;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
          }

          color: #0A0A0A;
          text-align: center;
          font-family: Roboto;
          font-size: 3.2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1;
        }
      }
    }

    .info {
      width: 100%;

      dl {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        border-top: 1px solid var(--border);

        dt {
          color: #666F7B;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 140%;
          /* 19.6px */
          letter-spacing: -0.5px;
        }

        dd {
          color: #454555;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 140%;
          /* 22.4px */
        }
      }
    }
  }
}