@mixin screen($size) {
  @if ($size =="mobile-small") {
    @media screen and (max-width: #{$breakpoint-mobile - 1px}) {
      @content;
    }
  }

  @else if ($size =="mobile") {
    @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
      @content;
    }
  }

  @else if ($size =="tablet") {
    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  }

  @else if ($size =="desktop") {
    @media screen and (min-width: #{$breakpoint-desktop}) {
      @content;
    }
  }

  @else if ($size =="mobile-large") {
    @media screen and (min-width: #{$breakpoint-tablet}) {
      @content;
    }
  }
}

// @mixin pseudo($width: 100%, $height: 100%, $pos: absolute, $display: block, $content: "") {
//   content: $content;
//   position: $pos;
//   display: $display;
//   width: $width;
//   height: $height;
// }


@mixin placeholder-color($color, $opacity) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }

  &:-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }

  &::-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}