:root {
  --white: #ffffff;
  --black: #0D1B2A;

  --rec-primary: #62BBC9;
  --rec-secondary: #5680EB;

  --rec-negative: #ff495e;
  --rec-negative-border: #ffd7db;
  --rec-negative-bg: #fffbfb;

  --text: #0D1B2A;
  --text-gray: #74758C;
  --text-light: #9FA2B4;



  --border: #D1DBEA;
  --border-light: #EBECF2;
  --gray: #F5F6F8;

  --full-height: calc(var(--vh, 1vh) * 100);
}