:root {
  --white: #ffffff;
  --black: #0d1b2a;

  --rec-primary: #62bbc9;
  --rec-secondary: #5680eb;

  --rec-negative: #ff495e;
  --rec-negative-border: #ffd7db;
  --rec-negative-bg: #fffbfb;

  --text: #0d1b2a;
  --text-gray: #74758c;
  --text-light: #9fa2b4;

  --border: #d1dbea;
  --border-light: #ebecf2;
  --gray: #f5f6f8;

  --full-height: calc(var(--vh, 1vh) * 100);
}
