footer {
  background-color: var(--gray);
  padding: 44px 0;

  .footer-inner {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .logo {
    a {
      filter: grayscale(1);
      opacity: 0.8;
    }
  }

  .sitemap {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 44px;

    &+.fnb {
      border-top: 1px solid var(--border);
      padding-top: 44px;
    }

    ul {
      li {
        &+li {
          margin-top: 10px;
        }

        a {
          color: var(--text-light);
          font-weight: 600;
          font-size: 1.5rem;

          &:hover {
            color: var(--text);
          }

          b {
            color: var(--text);
            font-weight: 700;
          }
        }
      }
    }
  }

  .fnb {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;

    li {
      a {
        font-size: 1.4rem;
        color: var(--text);
      }
    }
  }

  .info {
    font-size: 1.2rem;
    color: var(--text-gray);

    ul {
      display: flex;
      align-items: center;
      gap: 14px;

      &+ul {
        margin-top: 4px;
      }
    }
  }

  @include mobile {
    .sitemap {
      display: none;

      &+.fnb {
        border-top: none;
        padding-top: 0;
      }
    }

    .fnb {
      margin-bottom: 10px;
    }

    .info {
      ul {
        flex-direction: column;
        align-items: flex-start;

        &+ul {
          margin-top: 0;
        }

        li {
          line-height: 1;

          &+li {
            margin-top: 0;
          }
        }
      }
    }

    small {
      opacity: 0.5;
    }
  }
}

.quick-menu {
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 9;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    li {
      a {
        width: 60px;
        // height: 54px;
        display: block;
        border-radius: 50%;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
      }
    }
  }

  @include mobile {
    right: 20px;
    bottom: 20px;
  }
}