.only-mo {
  display: none;
}

.only-pc {
  display: block;
}

html {
  height: 100%;
}

.viewport {
  min-width: 1340px;
  width: 100%;

  @include mobile {
    min-width: 100%;
  }
}

.app-inner {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @include mobile {
    max-width: 100%;
  }
}

.headline {
  text-align: center;
  margin-bottom: 80px;

  &.arrow {
    &:before {
      content: '';
      display: block;
      width: 64px;
      height: 77px;
      margin: 80px auto 80px;
      background: url('../images/ico-titleArrow.png') no-repeat center center / contain;
    }
  }

  span {
    color: #B87DF4;
    padding: 14px 18px;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -1px;
    border-radius: 30px;
    border: 1px solid #EAEBEC;
    background: rgba(255, 255, 255, 0.50);

    &.label {
      width: fit-content;
      color: #692EFF;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 180%;
      letter-spacing: -0.5px;
      border-radius: 30px;
      border: 2px solid #B87DF4;
      background: #FFF;
      display: inline-flex;
      padding: 6px 14px;
      align-items: center;
      margin-left: 10px;
    }

    &+.app-title {
      margin-top: 24px;
    }

  }

  h3.app-title {

    font-size: 4.4rem;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -1px;
  }

  h4.app-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -1px;
  }

  p {
    color: var(--text-gray);
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
    margin-top: 24px;

    i {
      font-style: normal;
      color: var(--text);
    }

    &+.btn {
      margin: 24px auto 0;
    }
  }

  @include mobile {
    margin-bottom: 40px;

    &.arrow {
      &:before {
        width: 44px;
        height: 57px;
        margin: 40px auto 40px;
      }
    }

    span {
      padding: 8px 12px;
      font-size: 1.4rem;

      &.label {
        font-size: 1.5rem;
        border: none;
        font-weight: 800;
        // border: 1px solid #B87DF4;
        padding: 0;
        display: block;
        margin: 0;
        width: 100%;
        text-align: center;
      }

      &+.app-title {
        margin-top: 24px;
      }

    }

    h3.app-title {
      font-size: 2.8rem;
    }

    h4.app-title {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.7rem;
    }
  }
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;

  .col {
    flex: 1;
  }

  @include mobile {
    flex-direction: column;
  }
}


article {
  .flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 20px;

    .btn-group {
      margin-top: 0;
    }

    &.center {
      align-items: center;
    }

    .headline {
      text-align: left;
      margin-bottom: 0;

      p {
        margin-top: 10px;
      }
    }
  }

  .caption {
    padding: 0;
    border: none;
    color: var(--text-gray);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.5px;
  }

  &+article {
    margin-top: 80px;
  }

  @include mobile {
    .flex {
      flex-direction: column;
      align-items: center;
      // margin-bottom: 10px;

      .headline {
        width: 100%;

        .app-title {
          flex-direction: column;
          align-items: center;
          font-size: 2rem;
          text-align: center;
        }

        p {
          font-size: 1.5rem;
          text-align: center;
        }
      }

      .caption {
        display: block;
        width: 100%;
        text-align: right;
        font-size: 1.2rem;
      }
    }
  }
}

.tab-stickyContents {
  position: sticky;
  top: 101px;
  z-index: 8;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 80px;

  &-inner {
    border: 2px solid #B87DF4;
    display: inline-flex;
    padding: 4px;
    border-radius: 60px;


    ul {
      display: flex;
      align-items: center;


      li {
        height: 44px;
        min-width: 120px;

        &.on {
          a {
            background: #3617CE;
            color: #FFF;
          }
        }

        a {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          gap: 4px;
          height: 100%;
          border-radius: 36px;
          color: var(--text-gray);
          text-align: center;
          font-family: 'SUITE', sans-serif;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -1px;
          padding: 0 16px;
        }
      }
    }
  }

  @include mobile {
    top: 64px;
    margin-bottom: 40px;
    padding: 4px 0 8px;
    // z-index: 9;

    display: none;

    &-inner {
      border: none;
      padding: 0;
      display: flex;
      width: 100%;

      ul {
        width: 100%;

        li {
          flex: 1;
          height: 40px;
          min-width: inherit;

          a {
            display: flex;
            align-items: center;
            width: 100%;
            color: var(--text-gray);
            text-align: center;
            font-family: 'SUITE', sans-serif;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -1px;
            padding: 0;
          }
        }
      }
    }
  }

}

.stickyContents {
  scroll-margin-top: 250px;

  &+.stickyContents {
    margin-top: 300px;
  }

  @include mobile {
    &+.stickyContents {
      margin-top: 80px;
    }
  }
}

.grid-side {
  display: flex;
  gap: 100px;

  .tab-side {
    flex: none;
    width: 118px;
    box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;

    ul {
      position: sticky;
      top: 101px;
      z-index: 8;

      li {
        &+li {
          margin-top: 24px;
        }

        a {
          display: block;
          color: #293443;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: -1px;

          &:before {
            content: '';
            display: block;
            width: 70px;
            height: 70px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
          }

          &:hover {
            font-weight: 800;
          }
        }

        &.on {
          a {
            color: var(--rec-primary);
            font-weight: 800;
          }
        }

        &.notice {
          a {
            &:before {
              background-image: url('../images/lnbico-notice.png');
            }
          }

          &.on {
            a {
              &:before {
                background-image: url('../images/lnbico-notice-on.png');
              }
            }
          }
        }

        &.faq {
          a {
            &:before {
              background-image: url('../images/lnbico-faq.png');
            }
          }

          &.on {
            a {
              &:before {
                background-image: url('../images/lnbico-faq-on.png');
              }
            }
          }
        }

        &.quote {
          a {
            &:before {
              background-image: url('../images/lnbico-quote.png');
            }
          }

          &.on {
            a {
              &:before {
                background-image: url('../images/lnbico-quote-on.png');
              }
            }
          }
        }
      }
    }
  }

  .app-section {
    flex: 1;
    padding: 80px 0;
  }

  .headline {
    text-align: left;
    margin-bottom: 44px;

    .app-title {
      font-size: 3.6rem;
      font-weight: 800;
      letter-spacing: -1px;
    }

    p {
      font-size: 1.6rem;
      margin-top: 10px;
    }
  }

  @include mobile {
    flex-direction: column;
    gap: 0;
    padding-top: 60px;

    .tab-side {
      position: fixed;
      left: 0;
      top: 64px;
      width: 100%;
      flex: none;
      width: 100%;
      box-shadow: none;
      padding: 10px 10px 20px 10px;
      border-bottom: 1px solid var(--border);
      background-color: #fff;
      z-index: 9;

      ul {
        position: static;
        display: flex;
        background-color: #fff;

        li {
          flex: 1;
          text-align: center;

          &+li {
            margin-top: 0;
          }

          a {
            font-size: 1.6rem;
            line-height: 1;

            &:before {
              width: 50px;
              height: 50px;
              margin: auto;
            }

          }
        }
      }
    }

    .headline {
      display: none;
      margin-bottom: 20px;
      text-align: center;

      .app-title {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}