.only-mo {
  display: none;
}

.only-pc {
  display: block;
}

html {
  height: 100%;
}

.viewport {
  min-width: 1340px;
  width: 100%;
}

.app-inner {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.headline {
  text-align: center;
  margin-bottom: 80px;

  &.arrow {
    &:before {
      content: '';
      display: block;
      width: 64px;
      height: 77px;
      margin: 80px auto 80px;
      background: url('../images/ico-titleArrow.png') no-repeat center center / contain;
    }
  }

  span {
    color: #B87DF4;
    padding: 14px 18px;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -1px;
    border-radius: 30px;
    border: 1px solid #EAEBEC;
    background: rgba(255, 255, 255, 0.50);

    &.label {
      width: fit-content;
      color: #692EFF;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 180%;
      letter-spacing: -0.5px;
      border-radius: 30px;
      border: 2px solid #B87DF4;
      background: #FFF;
      display: inline-flex;
      padding: 6px 14px;
      align-items: center;
      margin-left: 10px;
    }

    &+.app-title {
      margin-top: 24px;
    }

  }

  h3.app-title {

    font-size: 4.4rem;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -1px;
  }

  h4.app-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -1px;
  }

  p {
    color: var(--text-gray);
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
    margin-top: 24px;

    i {
      font-style: normal;
      color: var(--text);
    }

    &+.btn {
      margin: 24px auto 0;
    }
  }
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;

  .col {
    flex: 1;
  }
}


article {
  .flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 20px;

    &.center {
      align-items: center;
    }

    .headline {
      text-align: left;
      margin-bottom: 0;

      p {
        margin-top: 10px;
      }


    }


  }

  .caption {
    padding: 0;
    border: none;
    color: var(--text-gray);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.5px;
  }

  &+article {
    margin-top: 80px;
  }
}

.tab-stickyContents {
  position: sticky;
  top: 101px;
  z-index: 8;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 80px;

  &-inner {
    border: 2px solid #B87DF4;
    display: inline-flex;
    padding: 4px;
    border-radius: 60px;


    ul {
      display: flex;
      align-items: center;


      li {
        height: 44px;
        min-width: 120px;

        &.on {
          a {
            background: #3617CE;
            color: #FFF;
          }
        }

        a {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          gap: 4px;
          height: 100%;
          border-radius: 36px;
          color: var(--text-gray);
          text-align: center;
          font-family: 'SUITE', sans-serif;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -1px;
          padding: 0 16px;
        }
      }
    }
  }

}

.stickyContents {
  scroll-margin-top: 250px;
  // height: 100dvh;

  &+.stickyContents {
    margin-top: 300px;
  }
}