.only-mo {
  display: none;
}

.only-pc {
  display: block;
}

html {
  height: 100%;
}

.viewport {
  min-width: 1340px;
  width: 100%;
}

.app-inner {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;

  .col {
    flex: 1;
  }
}

.headline {
  text-align: center;
  margin-bottom: 80px;

  span {
    color: #B87DF4;
    padding: 14px 18px;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -1px;
    border-radius: 30px;
    border: 1px solid #EAEBEC;
    background: rgba(255, 255, 255, 0.50);

    &+.app-title {
      margin-top: 24px;
    }

  }

  .app-title {
    color: #000;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -1px;
  }

  p {
    color: var(--text-gray);
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
    margin-top: 24px;

    i {
      font-style: normal;
      color: var(--text);
    }

    &+.btn {
      margin: 24px auto 0;
    }
  }
}








.logo {
  a {
    width: 170px;
    height: 27px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: url('../images/logo.png') no-repeat center center / contain;
    text-indent: -999rem;
  }
}