@mixin fontStyle {
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo",
    -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial,
    "Malgun Gothic", "맑은 고딕", Dotum, 돋움, sans-serif;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {

  padding: 11px 11px 11px 12px;
  border-radius: 34px;
  background: rgba(42, 46, 55, 0.90);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  left: -10px;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {

  padding: 11px 12px 11px 11px;
  border-radius: 34px;
  background: rgba(42, 46, 55, 0.90);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;

  .inner {
    display: inline-flex;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 34px;
    background: rgba(42, 46, 55, 0.90);
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.5px;
  }



}

/* CUSTOM :: 
jquery ui */
.ui-widget {
  @include fontStyle;
}

.ui-datepicker {
  z-index: 9 !important;
}

.ui-datepicker-calendar>tbody td.ui-datepicker-week-end:last-child a {
  color: #ff6b6b;

  &.ui-state-active {
    color: #fff;
  }
}

.datepicker:read-only+label {
  pointer-events: none;
}

.ui-widget-content {
  background-color: #fff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  color: var(--text);
}

.ui-datepicker {
  border-radius: 8px;
  border: 1px solid var(--border);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);

  th {
    color: var(--text);
  }

  .ui-widget-header {
    // background-color: var(--rec-primary);
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: #fff;

    .ui-datepicker-title {
      margin: 0;
      *zoom: 1;
      display: block;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .ui-datepicker-title,
    .ui-datepicker-title span {
      color: var(--text);
      font-size: 1.5rem;
      font-weight: 700;
      // padding-left: 8px;
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
      // display: none;
      top: 9px;

      span {
        background: url('../images/selected-arrow.png') no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }

    .ui-datepicker-prev {
      left: 6px;

      span {
        transform: rotate(90deg);
      }
    }

    .ui-datepicker-next {
      right: 6px;

      span {
        transform: rotate(-90deg);
      }
    }
  }

  td {
    color: var(--text);
    padding: 6px 0;
    text-align: center;
  }

  th {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.8;
    // background: var(--gray-light);
    border-bottom: 1px solid var(--border);
  }

  .ui-state-default {
    display: inline-block;
    padding: 0;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    line-height: 23px;
    border: 3px solid transparent;
    background: none;
    text-align: center;
    border-radius: 6px;

    &.ui-state-highlight {
      color: var(--text);
      font-weight: 700;
      background-color: var(--gray-light);

      &.ui-state-hover {
        opacity: 1;
      }
    }

    &.ui-state-active {
      border-radius: 6px;
      background-color: var(--rec-primary);
      color: #fff;
      font-weight: 700;

      &.ui-state-hover {
        opacity: 1;
      }
    }

    &.ui-state-hover {
      opacity: 0.5;
    }
  }

  select.ui-datepicker-month,
  select.ui-datepicker-year {
    font-weight: 700;
    border: none;
    float: left;
    padding-left: 0;
    padding-right: 30px;
    margin-right: 10px;
    font-size: 1.8rem;
    position: relative;
    z-index: 2;
  }

  select.ui-datepicker-year {
    // width: 84px;
    width: 104px;
  }

  select.ui-datepicker-month {
    width: 70px;
  }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: none;
  background: none;
}

.datepicker-page {
  margin-top: -16px;

  .datepicker {
    &.readonly {
      pointer-events: none;
    }

    width: 100%;

    .ui-datepicker-inline {
      width: 100%;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }
}

.ui-timepicker-standard a {
  height: 100%;
  padding: 0;
  line-height: 48px;
}

.ui-timepicker-standard {
  padding: 0 !important;
  border-radius: 4px !important;
  border: 1px solid #bbb !important;
  // border-top: 0!important;
  margin-top: 2px !important;
}

.ui-timepicker-container {
  // z-index: 100000!important;
  height: 145px !important;
}

.ui-timepicker-standard .ui-menu-item {
  height: 48px;

  &+.ui-menu-item {
    border-top: 1px solid var(--border);
  }
}

.ui-timepicker-standard .ui-state-hover {
  height: 100%;
  line-height: 48px;
  padding: 0;
  border: none !important;
  background: #eee !important;
}

.ui-widget.ui-widget-content {
  border: none;
}

/* time Picker */
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-gray);
}



.ui-widget-content {
  border: 1px solid var(--border);
}

.ui-datepicker .ui-datepicker-buttonpane button {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 10px;
  color: var(--rec-primary);
  padding: 0 !important;
  opacity: 1 !important;
  border: none;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  span {
    font-weight: 500;
    color: var(--text-light);
  }
}

.inlineDatepicker {
  border-radius: 14px;
  overflow: hidden;

  .ui-datepicker .ui-widget-header .ui-datepicker-title,
  .ui-datepicker .ui-widget-header .ui-datepicker-title span {
    font-size: 1.8rem;
  }

  .ui-datepicker .ui-widget-header .ui-datepicker-next,
  .ui-datepicker .ui-widget-header .ui-datepicker-prev {
    top: 14px;
  }

  .ui-datepicker th {
    border: none;
  }

  .ui-datepicker-inline {
    width: 100%;
    box-shadow: none;
    position: static;
  }

  .ui-state-default {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text);
    max-width: 30px;
    height: 30px;
    border-radius: 50px;

    &.ui-state-active {
      border-radius: 14px;
    }
  }
}

/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper>.scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper>.scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}

.scroll-element,
.scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-textarea {
  border: 1px solid var(--text-light);
  border-top-color: var(--text-gray);
}

.scroll-textarea>.scroll-content {
  overflow: hidden !important;
}

.scroll-textarea>.scroll-content>textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}

.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/*************** SCROLLBAR MAC OS X ***************/

.scrollbar>.scroll-element,
.scrollbar>.scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  // z-index: 10;
}

.scrollbar>.scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scrollbar>.scroll-element .scroll-element_track {
  display: none;
}

.scrollbar>.scroll-element .scroll-bar {
  background: var(--gray);
  display: block;
  border: 1px solid var(--border);

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  opacity: 0;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.scrollbar:hover>.scroll-element .scroll-bar,
.scrollbar>.scroll-element.scroll-draggable .scroll-bar {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.scrollbar>.scroll-element.scroll-x {
  bottom: 0px;
  height: 0px;
  left: 0;
  min-width: 100%;
  overflow: visible;
  width: 100%;
}

.scrollbar>.scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0px;
  top: 0;
  width: 0px;
}

/* scrollbar height/width & offset from container borders */
.scrollbar>.scroll-element.scroll-x .scroll-bar {
  height: 7px;
  min-width: 10px;
  top: -9px;
}

.scrollbar>.scroll-element.scroll-y .scroll-bar {
  left: -9px;
  min-height: 10px;
  width: 5px;
}

.scrollbar>.scroll-element.scroll-x .scroll-element_outer {
  left: 2px;
}

.scrollbar>.scroll-element.scroll-x .scroll-element_size {
  left: -4px;
}

.scrollbar>.scroll-element.scroll-y .scroll-element_outer {
  top: 2px;
}

.scrollbar>.scroll-element.scroll-y .scroll-element_size {
  top: -4px;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px;
}

.scrollbar>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px;
}

/* swiper */
.swiper-pagination {
  display: flex;
  gap: 6px;
}

.swiper-pagination-bullet {
  background-color: #6980EA;
  opacity: .3;
}

.swiper-pagination-bullet-active {
  background-color: #6980EA;
  opacity: 1;
}