html {
  font-size: 62.5%;
  font-family: $base-font-system;
  min-width: $min-width;
  background: $background-color;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;

  body {
    font-size: $base-font-size;
    letter-spacing: -0.5px;
  }

  audio,
  canvas,
  iframe,
  svg,
  video {
    vertical-align: middle;
  }

  img:not(.section-bg) {
    height: auto;
    max-width: 100%;
  }

  option,
  optgroup {
    color: initial;
  }

  textarea {
    resize: vertical;
  }

  &.overflow {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}




// Accessibility
// 키보드 접근시에만 outline
:focus:not(:focus-visible) {
  outline: 0;
}

.title-label {
  position: fixed;
  display: inline-flex;
  align-items: center;
  max-width: 120px;
  text-align: center;
  line-height: 1.2;
  justify-content: center;
  padding: 4px 6px;
  border-radius: 6px;
  background: #3B3F45;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  // white-space: nowrap;
  word-break: keep-all;
  pointer-events: none;
  z-index: 9999;
  text-indent: 0;
}

.user-settings {
  border-radius: 4px;

  &.active,
  &:hover {
    opacity: 0.5;
  }
}

.settings-dropdown {
  img {
    width: 20px;
  }

}